@import "./reset.less";
@import "../sprites/sprites.css";

.index-page {
    padding: 10px;

    .icon-max {
        height: 120px;
        background: url("../image/index/xbt.png") center no-repeat;
        background-size: 60px 60px;
    }

    .describe {
        text-indent: 2em;
        padding: 0 70px;
        line-height: 18px;
        font-size: 14px;
        text-align: center;
    }

    .bkg-box {
        padding: 30px 10px 10px;
        text-align: center;
    }

    .icon {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        width: 40px;
        height: 40px;
    }

    .info {
        color: #a0a0a0;
        font-size: 12px;
        line-height: 24px;
    }
}
