.icon {
  background-image: url(./sprites.png);
  background-size: 203.2px 162.4px;
}
.icon-bb {
  background-position: 0px 0px;
}
.icon-bd {
  background-position: -40.8px 0px;
}
.icon-bg {
  background-position: 0px -40.8px;
}
.icon-bgg {
  background-position: -40.8px -40.8px;
}
.icon-cm {
  background-position: -81.6px 0px;
}
.icon-dg {
  background-position: -81.6px -40.8px;
}
.icon-dhs {
  background-position: 0px -81.6px;
}
.icon-kxg {
  background-position: -40.8px -81.6px;
}
.icon-mb {
  background-position: -81.6px -81.6px;
}
.icon-mkl {
  background-position: -122.4px 0px;
}
.icon-ms {
  background-position: -122.4px -40.8px;
}
.icon-nyg {
  background-position: -122.4px -81.6px;
}
.icon-ps {
  background-position: 0px -122.4px;
}
.icon-rg {
  background-position: -40.8px -122.4px;
}
.icon-right {
  background-position: -81.6px -122.4px;
}
.icon-ss {
  background-position: -122.4px -122.4px;
}
.icon-ttq {
  background-position: -163.2px 0px;
}
.icon-yg {
  background-position: -163.2px -40.8px;
}